body {
    background: rgb(100, 96, 96);
}

h1  {
    color: whitesmoke;
    text-align: center;
}
p {
    color:white;
}
h2 {
    color: white;
}
h3 {
    color: rgb(219, 212, 212);
}
.head {
    color: rgb(204, 39, 39);
}
.main {
    background-color: wheat;
    text-align: center;
}
.notatki {
    background-color: rgb(190, 190, 96);
}
.notatki__title{
    text-align: center;
}
.background{
    display: flex;
    text-align: center;
    width: 600px;
    height: 400px;
    padding-left: 430px;
}
.navigation {
    text-align: center;
    background: rgb(53, 139, 19);
}
.navigation__link {
    padding: 14px;
    color: white;
}
.navigation__link--home {
    color: red;
    background: white;
}

footer {
    text-align: center;
}.imgClarinett {
    width: 720px;
    height: 300px;
    
}
.week-summary {
    border-radius: 12px;
    border: 2px solid white;
    margin-bottom: 6px;
}
.week-summary__title{
    color: rgb(12, 56, 136);
    padding-left: 7px;
}.week-summary__description{
    color: rgb(230, 243, 242);
    padding-left: 7px;
}